<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/partidos"></ion-back-button>
        </ion-buttons>
        <ion-title>Registrar Partido</ion-title>

        <ion-buttons slot="primary">
            <ion-button (click)="addPartido()" [disabled]="!formAdd.valid">
                <ion-icon name="save-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="auth-content">
    <br />

    <!-- inputs add partidos-->

    <form [formGroup]="formAdd" class="list-form">

        <ion-item>
            <ion-label position="floating" color="secondary">
                <ion-icon name="people" item-start></ion-icon>
                &nbsp;Equipo Casa
            </ion-label>
            <ion-select interface="popover" color="secondary" type="text" formControlName="pequipo1">
                <ion-select-option value="Alajuela">Alajuela</ion-select-option>
                <ion-select-option value="Saprissa">Saprissa</ion-select-option>
                <ion-select-option value="Heredia">Heredia</ion-select-option>
                <ion-select-option value="Cartago">Cartago</ion-select-option>
                <ion-select-option value="Pérez Zeledón">Pérez Zeledón</ion-select-option>
                <ion-select-option value="Grecia">Grecia</ion-select-option>
                <ion-select-option value="San Carlos">San Carlos</ion-select-option>
                <ion-select-option value="Limón">Limón</ion-select-option>
                <ion-select-option value="Jicaral">Jicaral</ion-select-option>
                <ion-select-option value="Sporting">Sporting</ion-select-option>
                <ion-select-option value="Guadalupe">Guadalupe</ion-select-option>
                <ion-select-option value="Santos">Santos</ion-select-option>
            </ion-select>
        </ion-item>

        <p ion-text class="text08" *ngIf="formAdd.get('pequipo1').touched && formAdd.get('pequipo1').hasError('required')">
            <ion-text color="warning"> Corrija o complete el campo </ion-text>
        </p>

        <br />

        <ion-item>
            <ion-label position="floating" color="secondary">
                <ion-icon name="people" item-start></ion-icon>
                &nbsp;Equipo Visita
            </ion-label>
            <ion-select interface="popover" color="secondary" type="text" formControlName="pequipo2">
                <ion-select-option value="Alajuela">Alajuela</ion-select-option>
                <ion-select-option value="Saprissa">Saprissa</ion-select-option>
                <ion-select-option value="Heredia">Heredia</ion-select-option>
                <ion-select-option value="Cartago">Cartago</ion-select-option>
                <ion-select-option value="Pérez Zeledón">Pérez Zeledón</ion-select-option>
                <ion-select-option value="Grecia">Grecia</ion-select-option>
                <ion-select-option value="San Carlos">San Carlos</ion-select-option>
                <ion-select-option value="Limón">Limón</ion-select-option>
                <ion-select-option value="Jicaral">Jicaral</ion-select-option>
                <ion-select-option value="Sporting">Sporting</ion-select-option>
                <ion-select-option value="Guadalupe">Guadalupe</ion-select-option>
                <ion-select-option value="Santos">Santos</ion-select-option>
            </ion-select>
        </ion-item>

        <p ion-text class="text08" *ngIf="formAdd.get('pequipo2').touched && formAdd.get('pequipo2').hasError('required')">
            <ion-text color="warning"> Corrija o complete el campo </ion-text>
        </p>

        <br />

        <ion-item>

            <ion-label position="floating" color="secondary">
                <ion-icon name="people" item-start></ion-icon>
                &nbsp;Fecha
            </ion-label>
            <ion-datetime cancelText="Cancelar" doneText="Aceptar" color="secondary" type="text" formControlName="pfecha"></ion-datetime>
        </ion-item>

        <p ion-text class="text08" *ngIf="formAdd.get('pfecha').touched && formAdd.get('pfecha').hasError('required')">
            <ion-text color="warning"> Corrija o complete el campo </ion-text>
        </p>

        <br />

        <ion-item>
            <ion-label position="floating" color="secondary">
                <ion-icon name="people" item-start></ion-icon>
                &nbsp;Estadio
            </ion-label>
            <ion-input color="secondary" type="text" formControlName="pestadio"></ion-input>
        </ion-item>

        <p ion-text class="text08" *ngIf="formAdd.get('pestadio').touched && formAdd.get('pestadio').hasError('required')">
            <ion-text color="warning"> Corrija o complete el campo </ion-text>
        </p>

    </form>
</ion-content>