<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/partidos"></ion-back-button>
        </ion-buttons>
        <ion-title>Registrar Evento</ion-title>

        <ion-buttons slot="primary">
            <ion-button (click)="addEvento()" [disabled]="!formAdd.valid">
                <ion-icon name="save-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="auth-content">
    <br />

    <!-- inputs add partidos-->

    <form [formGroup]="formAdd" class="list-form">

        <ion-item>
            <ion-label position="floating" color="secondary">
                <ion-icon name="people" item-start></ion-icon>
                &nbsp;Evento
            </ion-label>
            <ion-select interface="popover" color="secondary" type="text" formControlName="pevento">
                <ion-select-option value="Gol">Gol</ion-select-option>
                <ion-select-option value="Falta">Falta</ion-select-option>
                <ion-select-option value="Tarjeta Amarilla">Tarjeta Amarilla</ion-select-option>
                <ion-select-option value="Tarjeta Roja">Tarjeta Roja</ion-select-option>
                <ion-select-option value="Fuera de Juego">Fuera de Juego</ion-select-option>
                <ion-select-option value="Tiro Directo">Tiro Directo</ion-select-option>
                <ion-select-option value="Tiro Desviado">Tiro Desviado</ion-select-option>
                <ion-select-option value="Penal">Penal</ion-select-option>
                <ion-select-option value="Tiro de Esquina">Tiro de Esquina</ion-select-option>
                <ion-select-option value="Saque de Puerta">Saque de Puerta</ion-select-option>
            </ion-select>
        </ion-item>

        <p ion-text class="text08" *ngIf="formAdd.get('pevento').touched && formAdd.get('pevento').hasError('required')">
            <ion-text color="warning"> Corrija o complete el campo </ion-text>
        </p>

        <br />

        <ion-item>
            <ion-label position="floating" color="secondary">
                <ion-icon name="people" item-start></ion-icon>
                &nbsp;Equipo
            </ion-label>
            <ion-select interface="popover" color="secondary" type="text" formControlName="pequipo">
                <ion-select-option value={{part.equipo1}}>{{part.equipo1}}</ion-select-option>
                <ion-select-option value={{part.equipo2}}>{{part.equipo2}}</ion-select-option>
            </ion-select>
        </ion-item>

        <p ion-text class="text08" *ngIf="formAdd.get('pequipo').touched && formAdd.get('pequipo').hasError('required')">
            <ion-text color="warning"> Corrija o complete el campo </ion-text>
        </p>

        <br />

        <ion-item>

            <ion-label position="floating" color="secondary">
                <ion-icon name="people" item-start></ion-icon>
                &nbsp;Jugador
            </ion-label>
            <ion-input color="secondary" type="text" formControlName="pjugador"></ion-input>
        </ion-item>

        <p ion-text class="text08" *ngIf="formAdd.get('pjugador').touched && formAdd.get('pjugador').hasError('required')">
            <ion-text color="warning"> Corrija o complete el campo </ion-text>
        </p>

        <br />

        <ion-item>
            <ion-label position="floating" color="secondary">
                <ion-icon name="people" item-start></ion-icon>
                &nbsp;Minuto
            </ion-label>
            <ion-input color="secondary" type="number" ormControlName="pminuto"></ion-input>
        </ion-item>

        <p ion-text class="text08 " *ngIf="formAdd.get('pminuto').touched && formAdd.get('pminuto').hasError('required') ">
            <ion-text color="warning "> Corrija o complete el campo </ion-text>
        </p>

    </form>
</ion-content>