<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">Jornadas</ion-title>
        <ion-buttons slot="end">
            <!-- add product button-->

            <ion-button size="small" shape="round" color="medium" [routerLink]="['/partidos/add' ]">
                <ion-icon name="add-circle-outline"></ion-icon>
                <ion-badge color="dark" slot="end"></ion-badge>
            </ion-button>

            <!--logout button-->

            <ion-button size="small" shape="round" color="medium" (click)="logout()">
                <ion-icon name="log-out"></ion-icon>
                <ion-badge color="dark" slot="end"></ion-badge>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div id="container">
        <ion-card *ngFor="let partido of partido">
            <ion-item>
                <ion-label>&nbsp;{{ partido.equipo1}}</ion-label>
                <ion-label>&nbsp;&nbsp;
                    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                </ion-label>
                <ion-label>&nbsp;{{ partido.equipo2}}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label style="color:red">&nbsp;&nbsp;&nbsp;{{ partido.marcador1}}</ion-label>
                <ion-label>&nbsp;&nbsp;
                    <ion-icon name="football-outline"></ion-icon>
                </ion-label>
                <ion-label style="color:red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ partido.marcador2}}</ion-label>
            </ion-item>
            <ion-card-content>
                <ion-label style="font-weight: bold ">
                    <ion-icon name="calendar-outline"></ion-icon>&nbsp;{{ partido.fecha }}</ion-label>
                <br />
                <br />
                <ion-label style="font-weight: bold ">
                    <ion-icon name="home-outline"></ion-icon>&nbsp;{{ partido.estadio }}</ion-label>
                <br />
                <br />
                <div style="text-align: center ">
                    <ion-button color="dark " slot="end " (click)="view(partido.idPartido)">Datos del Partido</ion-button>
                </div>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>