:host {
    ion-content {
        --background: none;
        background-image: url('/assets/img/fondo.png');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }
    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
}

.padre {
    .hijo {
        color: red;
    }
}