<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">Estadísticas</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/partidos/details"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- Detail Page -->

<ion-content padding>

    <div style="text-align:center; border:1px solid">
        <ion-text color=" light " style="align-items: center; font-weight: bold; font-size: 20px ">
            <br />
            <ion-text>{{part.equipo1}} vrs {{part.equipo2}} </ion-text>
        </ion-text>
        <br />
        <ion-text color="light " style="font-weight: bold ">
            Estadio: {{part.estadio}}
        </ion-text>

        <br />
        <br />

        <ion-button [disabled]="disabled" size="small" shape="round" color="medium" (click)="view(part.idPartido)">
            <ion-icon name="add-circle-outline"></ion-icon>
            &nbsp;Evento
        </ion-button>

        <ion-button [disabled]="disabled" size="small " shape="round " color="medium " (click)="action()">
            <ion-icon name="add-circle-outline"></ion-icon>
            &nbsp;Finalizar
        </ion-button>
    </div>

    <ion-content padding>
        <div id="container">

            <ion-card *ngFor="let partido of part.eventos">

                <ng-container *ngIf="partido.idPartido === part.idPartido">

                    <ion-item>
                        <ion-label>Evento: &nbsp;{{partido.evento}}
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Equipo: &nbsp;{{partido.equipo}}
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Jugador: &nbsp;{{partido.jugador}}
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Minuto: &nbsp;{{partido.minuto}}
                        </ion-label>
                    </ion-item>

                </ng-container>

            </ion-card>
        </div>
    </ion-content>

</ion-content>